.header {
  display: flex;
  justify-content: space-between;
  padding: 0; }
  .header .menu-container .ant-menu {
    display: flex;
    line-height: 64px; }
  .header .logOut {
    width: 64px;
    text-align: center;
    background: lightgray;
    cursor: pointer;
    transition: color 0.5s ease; }
    .header .logOut:hover {
      color: #ffffff; }
  @media screen and (max-width: 440px) {
    .header .menu-title {
      display: none; } }
