@import '../../app/index.scss';

.header {
  display: flex;
  justify-content: space-between;
  padding: 0;
  .menu-container {
    .ant-menu {
      display: flex;
      line-height: $header-height;
    }
  }
  .logOut {
    width: 64px;
    text-align: center;
    background: lightgray;
    cursor: pointer;
    transition: color 0.5s ease;
    &:hover {
      color: #ffffff;
    }
  }
  @media screen and (max-width: $break-small) {
    .menu-title {
      display: none;
    }
  }
}
