.clients .first-row {
  display: flex;
  justify-content: center;
  align-items: center; }
  .clients .first-row .ant-input-search {
    max-width: 350px;
    margin-left: 10px; }

.clients .ant-table-wrapper {
  margin-top: 8px; }
  .clients .ant-table-wrapper .ant-table .ant-table-content .ant-table-body .ant-table-thead th, .clients .ant-table-wrapper .ant-table .ant-table-content .ant-table-body .ant-table-thead td {
    word-break: normal; }
    .clients .ant-table-wrapper .ant-table .ant-table-content .ant-table-body .ant-table-thead th:nth-child(1), .clients .ant-table-wrapper .ant-table .ant-table-content .ant-table-body .ant-table-thead td:nth-child(1) {
      width: 150px; }
    .clients .ant-table-wrapper .ant-table .ant-table-content .ant-table-body .ant-table-thead th:nth-child(3), .clients .ant-table-wrapper .ant-table .ant-table-content .ant-table-body .ant-table-thead td:nth-child(3) {
      width: 100px; }
    .clients .ant-table-wrapper .ant-table .ant-table-content .ant-table-body .ant-table-thead th:nth-child(6), .clients .ant-table-wrapper .ant-table .ant-table-content .ant-table-body .ant-table-thead td:nth-child(6) {
      width: 52px; }
    .clients .ant-table-wrapper .ant-table .ant-table-content .ant-table-body .ant-table-thead th:nth-child(8), .clients .ant-table-wrapper .ant-table .ant-table-content .ant-table-body .ant-table-thead td:nth-child(8) {
      width: 25%; }
  @media screen and (max-width: 950px) {
    .clients .ant-table-wrapper th:nth-child(6), .clients .ant-table-wrapper td:nth-child(6) {
      display: none; } }
  @media screen and (max-width: 800px) {
    .clients .ant-table-wrapper th:nth-child(4), .clients .ant-table-wrapper td:nth-child(4) {
      display: none; } }
  @media screen and (max-width: 650px) {
    .clients .ant-table-wrapper th:nth-child(5), .clients .ant-table-wrapper th:nth-child(8), .clients .ant-table-wrapper td:nth-child(5), .clients .ant-table-wrapper td:nth-child(8) {
      display: none; } }
  @media screen and (max-width: 550px) {
    .clients .ant-table-wrapper th:nth-child(7), .clients .ant-table-wrapper th:nth-child(9), .clients .ant-table-wrapper td:nth-child(7), .clients .ant-table-wrapper td:nth-child(9) {
      display: none; } }
  @media screen and (max-width: 350px) {
    .clients .ant-table-wrapper th:nth-child(2), .clients .ant-table-wrapper td:nth-child(2) {
      display: none; } }
