@import '../../app/index.scss';

.clients {
  .first-row {
    display: flex;
    justify-content: center;
    align-items: center;
    .ant-input-search {
      max-width: 350px;
      margin-left: 10px;
    }
  }
  .ant-table-wrapper {
    margin-top: 8px;
    .ant-table .ant-table-content .ant-table-body {
      .ant-table-thead {
        th, td {
          word-break: normal;
          &:nth-child(1) {
            width: 150px;
          }
          &:nth-child(3) {
            width: 100px;
          }
          &:nth-child(6) {
            width: 52px;
          }
          &:nth-child(8) {
            width: 25%;
          }
        }
      }
    }

    @media screen and (max-width: $table-break-xl) {
      th, td {
        &:nth-child(6) {
          display: none;
        }
      }
    }
    @media screen and (max-width: $table-break-l) {
      th, td {
        &:nth-child(4) {
          display: none;
        }
      }
    }
    @media screen and (max-width: $table-break-m) {
      th, td {
        &:nth-child(5), &:nth-child(8) {
          display: none;
        }
      }
    }
    @media screen and (max-width: $table-break-s) {
      th, td {
        &:nth-child(7), &:nth-child(9) {
          display: none;
        }
      }
    }
    @media screen and (max-width: $table-break-xs) {
      th, td {
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }
}

