.client .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px; }

.client form .ant-select {
  width: 76px; }

.client form .inline-fields.telephone {
  margin-bottom: 10px; }
  .client form .inline-fields.telephone .ant-form-item-control-wrapper {
    width: 100%; }

.client form .inline-fields .ant-form-item-control {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.client form .remove-phone-button {
  margin-left: 16px;
  width: 37px;
  height: 32px; }

.client form .add-phone-button {
  width: 100%; }

.client form .ant-rate-star-zero .anticon-star {
  color: #adadad; }

.client form .form-buttons .ant-form-item-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px; }
