.client {
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
  }
  form {
    .ant-select {
      width: 76px;
    }
    .inline-fields {
      &.telephone {
        margin-bottom: 10px;
        .ant-form-item-control-wrapper {
          width: 100%;
        }
      }
      .ant-form-item-control {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    .remove-phone-button {
      margin-left: 16px;
      width: 37px;
      height: 32px;
    }
    .add-phone-button {
      width: 100%;
    }
    .ant-rate-star-zero {
      .anticon-star {
        color: #adadad;
      }
    }
    .form-buttons {
      .ant-form-item-control {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
}
