$login-width: 300px;

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .login-form {
    width: $login-width;
    .anticon {
      font-size: 13;
    }
    .login-form-button {
      width: $login-width;
    }
  }
}
