.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }
  .login-page .login-form {
    width: 300px; }
    .login-page .login-form .anticon {
      font-size: 13; }
    .login-page .login-form .login-form-button {
      width: 300px; }
