@import '../app/index.scss';

$main-layout-content-margin-top: 10px;

.ant-layout-content {
  height: calc(100vh - (#{$header-height} + #{$main-layout-content-margin-top}));
  margin-top: $main-layout-content-margin-top;
}

//.anticon.anticon-syringe {
//  width: 16px;
//  height: 16px;
//  background-image: url(../../assets/icons/syringe.svg);
//}
