.manipulations .first-row {
  display: flex;
  justify-content: center;
  align-items: center; }
  .manipulations .first-row .ant-input-search {
    max-width: 350px;
    margin-left: 10px; }

.manipulations .ant-table-wrapper {
  margin-top: 8px; }
  .manipulations .ant-table-wrapper .ant-table .ant-table-content .ant-table-body .ant-table-thead th, .manipulations .ant-table-wrapper .ant-table .ant-table-content .ant-table-body .ant-table-thead td {
    word-break: normal; }
    .manipulations .ant-table-wrapper .ant-table .ant-table-content .ant-table-body .ant-table-thead th:nth-child(1), .manipulations .ant-table-wrapper .ant-table .ant-table-content .ant-table-body .ant-table-thead td:nth-child(1) {
      width: 100px; }
    .manipulations .ant-table-wrapper .ant-table .ant-table-content .ant-table-body .ant-table-thead th:nth-child(2), .manipulations .ant-table-wrapper .ant-table .ant-table-content .ant-table-body .ant-table-thead td:nth-child(2) {
      width: 64px; }
    .manipulations .ant-table-wrapper .ant-table .ant-table-content .ant-table-body .ant-table-thead th:nth-child(5), .manipulations .ant-table-wrapper .ant-table .ant-table-content .ant-table-body .ant-table-thead td:nth-child(5) {
      width: 30%; }
  @media screen and (max-width: 950px) {
    .manipulations .ant-table-wrapper th:nth-child(6), .manipulations .ant-table-wrapper td:nth-child(6) {
      display: none; } }
  @media screen and (max-width: 800px) {
    .manipulations .ant-table-wrapper th:nth-child(4), .manipulations .ant-table-wrapper td:nth-child(4) {
      display: none; } }
  @media screen and (max-width: 650px) {
    .manipulations .ant-table-wrapper th:nth-child(5), .manipulations .ant-table-wrapper td:nth-child(5) {
      display: none; } }
  @media screen and (max-width: 550px) {
    .manipulations .ant-table-wrapper th:nth-child(8), .manipulations .ant-table-wrapper th:nth-child(9), .manipulations .ant-table-wrapper td:nth-child(8), .manipulations .ant-table-wrapper td:nth-child(9) {
      display: none; } }
  @media screen and (max-width: 350px) {
    .manipulations .ant-table-wrapper th:nth-child(2), .manipulations .ant-table-wrapper td:nth-child(2) {
      display: none; } }
